body{
    background-color: black;
}

.app{
    color: white;
    font-family: sans-serif;
    margin: auto;
    height: 200px;
    width: 200px;
    border: 2px solid white;
    margin-top: 40px;
    border-bottom: 2px solid #f96363;
    transition: .4s;
}

h3{
    margin-top: 80px;
    text-align: center;
}

.app:hover{
    border-bottom: 2px solid #90ea75;
    color: #90ea75;
}

a{
    text-decoration: none;
}
